ONTOLOGY_DOMAIN=example_domain
ONTOLOGY_NAMESPACE=http://www.onto2ai-toolset.com/ontology/example/Example/
ONTOLOGY_AUTHOR=Your Name
MY_LOG_LEVEL=INFO
NEO4J_LOG_LEVEL=INFO
NEO4J_RDF_DB_NAME=rdfdb
NEO4J_TAX62N_DB_NAME=tax62n
NEO4J_STAGING_DB_NAME=stagingdb
LLM_MODEL_NAME=gpt-5.2
GPT_MODEL_NAME=gpt-5.2
GPT_REASONING_EFFORT=medium
NEO4J_MODEL_DB_URL=bolt://localhost:7687
NEO4J_MODEL_DB_USERNAME=neo4j
NEO4J_MODEL_DB_PASSWORD=change-me
NEO4J_MODEL_DB_NAME=semanticdb
ONTOLOGY_ROOT_PATH=resource/ontology
GOOGLE_API_KEY=change-me
