recursive-include onto2ai_modeller/static *
recursive-include onto2ai_entitlement/ontology *.rdf
recursive-include onto2ai_entitlement/staging *.json *.py *.md *.cypher
recursive-include onto2ai_houseplan/ontology *.rdf
recursive-include onto2ai_houseplan/staging *.cypher
recursive-include onto2ai_houseplan *.md
