[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
appdirs = "==1.4.4"
atomicwrites = "==1.4.0"
boto3 = "==1.35.88"
botocore = "==1.35.88"
deprecated = "==1.2.15"
dirtyjson = "==1.0.8"
dnspython = "==2.7.0"
fastapi-cli = "==0.0.5"
filetype = "==1.2.0"
google-api-core = "==2.24.0"
google-cloud-aiplatform = "==1.81.0"
google-cloud-bigquery = "==3.27.0"
google-cloud-core = "==2.4.1"
google-cloud-resource-manager = "==1.14.0"
google-cloud-storage = "==2.19.0"
google-crc32c = "==1.6.0"
google-genai = "==0.3.0"
google-resumable-media = "==2.7.2"
google-search-results = "==2.4.2"
googleapis-common-protos = "==1.66.0"
gritql = "==0.1.5"
grpc-google-iam-v1 = "==0.13.1"
grpcio = "==1.68.1"
grpcio-status = "==1.68.1"
httpx = "==0.28.1"
jiter = "==0.8.2"
jsonpointer = "==2.1"
langchain = "==0.3.19"
langchain-chroma = "==0.2.2"
langchain-cli = "==0.0.35"
langchain-community = "==0.3.18"
langchain-core = "==0.3.37"
langchain-google-vertexai = "==2.0.13"
langchain-neo4j = "==0.2.0"
langchain-openai = "==0.3.6"
langchain-text-splitters = "==0.3.6"
langgraph = "==0.2.59"
langgraph-checkpoint = "==2.0.9"
langgraph-checkpoint-sqlite = "==2.0.1"
langgraph-sdk = "==0.1.47"
langserve = "==0.3.0"
langsmith = "==0.2.3"
llama-cloud = "==0.1.6"
llama-index = "==0.12.6"
llama-index-agent-openai = "==0.4.1"
llama-index-cli = "==0.4.0"
llama-index-core = "==0.12.7"
llama-index-embeddings-openai = "==0.3.1"
llama-index-indices-managed-llama-cloud = "==0.6.3"
llama-index-llms-openai = "==0.3.12"
llama-index-multi-modal-llms-openai = "==0.4.1"
llama-index-program-openai = "==0.3.1"
llama-index-question-gen-openai = "==0.3.0"
llama-index-readers-file = "==0.4.1"
llama-index-readers-llama-parse = "==0.4.0"
llama-parse = "==0.5.18"
matplotlib = "==3.9.2"
monotonic = "==1.5"
msgpack = "==1.1.0"
openai = "==1.58.1"
orjson = "==3.10.11"


[dev-packages]
