langchain==0.3.19
langchain-chroma==0.2.2
langchain-cli==0.0.35
langchain-community==0.3.18
langchain-core==0.3.37
langchain-google-vertexai==2.0.13
langchain-neo4j==0.2.0
langchain-openai==0.3.6
langchain-text-splitters==0.3.6
langgraph==0.2.59
langgraph-checkpoint==2.0.9
langgraph-checkpoint-sqlite==2.0.1
langgraph-sdk==0.1.47
langserve==0.3.0
langsmith==0.2.3
neo4j==5.28.1